* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1F2937;
    color: #F9FAF8;
}

header .logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.hero-image {
    width: 40%;
    height: 200px;
    background-color: grey;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    font-weight: bold;
}